@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins-font)
}

html{
  color: #5a5a5a;
}

h1,h2,h3,h4,h5{
  color: #121212;
}